In [11]:
my_list=[ ]
numbers=[0,2,4,6,8,]
strings=["honey","kevin","virat"]
mixed_types=[14,"ranbir",23.4]
print(my_list)
print(type(numbers))
print(type(strings))
print(type(mixed_types))

[]
<class 'list'>
<class 'list'>
<class 'list'>

In [12]:
#list with numbers
a=[1,2,3,4,5,6,7]
b=[9,8,7,6,5,4,3]
c=[12,13,14,11,15,16,17]
d=[101,102,103,104,105,106]
print(a[4])
print(b[1])
print(c[-6])
print(d[-1])

5
8
13
106

In [13]:
#list with strings
a1=["shiny","smily","shilu"]
b1=["serena","blair","chuck","dan","nate"]
c1=["damon","elena","stefan","caroline","bonnie"]
print(a1[2])
print(b1[-4])
print(c1[2])

shilu
blair
stefan

In [17]:
#slicing of numbers
x=[3,4,5,6,7,8,9]
y=[6,7,8,9,0,1,2]
print(x[-6:-1])
print(y[1:4])

[4, 5, 6, 7, 8]
[7, 8, 9]

In [18]:
#slicing of strings
x1=["ben","david","patrick","devi","elenaor"]
y1=["kohli","dhoni","abd","cook","smith","faf","siraj"]
print(x[-4:-2])
print(y[3:7])

[6, 7]
[9, 0, 1, 2]

In [21]:
#List operators
#(1) concatenation
a=[1,3,5,7,9,8,6]
b=[2,4,6,8,9,7]
x=["keerthi","ajitha"]
y=["bhavana","khyathi"]
c=a+b
z=x+y
print(c)
print(z)

[1, 3, 5, 7, 9, 8, 6, 2, 4, 6, 8, 9, 7]
['keerthi', 'ajitha', 'bhavana', 'khyathi']

In [26]:
#(2)repetition
x=[11,22,33,44,55,66,77,88]
y=x*6
print(z)
a=["welcome to hyderabad"]
b=a*11
print(b)

[11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88]
['welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad', 'welcome to hyderabad']

In [28]:
#list methods
#(1)Append
x=[0,5,8,22,98]
x.append(18)
print(x)
y=[96,34,4568,986]
y.append(46)
print(y)
a=["lipstick","lipgloss","lipliner"]
a.append("lip oil")
print(a)
b=["swiggy","zomato","zepto"]
b.append("eatsure")
print(b)

[0, 5, 8, 22, 98, 18]
[96, 34, 4568, 986, 46]
['lipstick', 'lipgloss', 'lipliner', 'lip oil']
['swiggy', 'zomato', 'zepto', 'eatsure']

In [37]:
#(2) extend
x=[9,8,7,6,5]
more_numbers=(12,13,14)
x.extend(more_numbers)
y=["sravya","sravani","rishi","sahithi"]
more_names=("priya","pandu","sharmi")
y.extend(more_names)
print(y)

[9, 8, 7, 6, 5, 12, 13, 14]
['sravya', 'sravani', 'rishi', 'sahithi', 'priya', 'pandu', 'sharmi']

In [42]:
#(3) insert
numbers=[45,67,89]
numbers.insert(67,77)
print(numbers)
numbers=[101,102,103,104,105]
numbers.insert(104,77)
print(numbers)

[45, 67, 89, 77]
[101, 102, 103, 104, 105, 77]

In [43]:
#(4) remove
x=[2,2,27,8,3,9,2,1,7]
x.remove(2)
print(x)
y=["ben","gwen","ria","ben","kevin"]
y.remove("ben")
print(y)

[2, 27, 8, 3, 9, 2, 1, 7]
['gwen', 'ria', 'ben', 'kevin']

In [55]:
#(5)pop
a=[34,75,93,6528,48,28]
popped_element=a.pop(4)
print(a)
print(popped_element)

a1=["priya","pandu","sharmi"]
popped_element=a1.pop(1)
print(a1)
print(popped_element)

[34, 75, 93, 6528, 28]
48
['priya', 'sharmi']
pandu

In [57]:
#(6) index
x=[10,20,30,40,60,10,10,40]
index=x.index(10)
print(index)
y=["ben","gwen","ria","ben","kevin"]
index=y.index("ria")
print(index)

0
2

In [58]:
#(7) count
numbers=[8,9,2,3,6,2,5,12,5,4,2,7,8,4]
count=numbers.count(2)
print(count)
names=["serena","blair","chuck","blair","nate"]
count=names.count("blair")
print(count)

3
2

In [52]:
#(8) sort
x=[1,4,6,8,3,9,2,0,5,8,7]
x.sort( )
print(x)
z=[

[0, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9]

In [59]:
#(9) reverse
a=[12,24,36,48,60,72]
a.reverse( )
print(a)
x1=["ben","david","patrick","devi","elenaor"]
x1.reverse( )
print(x1)

[72, 60, 48, 36, 24, 12]
['elenaor', 'devi', 'patrick', 'david', 'ben']