In [28]:
#empty_dict
empty_dict={ }
print(empty_dict)

{}

In [31]:
mixed_dict={'name':'honey','age':'20','grade':'92,93,97'}
print(mixed_dict)

{'name': 'honey', 'age': '20', 'grade': '92,93,97'}

In [35]:
#Accessing values
student={'name':'honey','class':'MBA','college':'Hofstra'}
print(student['college'])
print(student['name'])
print(student['class'])

Hofstra
honey
MBA

In [42]:
#modifying and adding values
student['age']='21'
student['name']='Khyathi'
mixed_dict['marks']=['90,95,97']
mixed_dict['grades']=['A+','A+','A+']
print(student)
print(student)
print(mixed_dict)
print(mixed_dict)
student['gender']="Female"
mixed_dict['subject']=['Maths','Physics','Chemistry']
print(student)
print(mixed_dict)

{'name': 'Khyathi', 'class': 'MBA', 'college': 'Hofstra', 'age': '21', 'gender': 'Female'}
{'name': 'Khyathi', 'class': 'MBA', 'college': 'Hofstra', 'age': '21', 'gender': 'Female'}
{'name': 'honey', 'class': 'MBA', 'college': 'Hofstra', 'age': '20', 'marks': ['90,95,97'], 'grades': ['A+', 'A+', 'A+'], 'subject': ['Maths', 'Physics', 'Chemistry']}
{'name': 'honey', 'class': 'MBA', 'college': 'Hofstra', 'age': '20', 'marks': ['90,95,97'], 'grades': ['A+', 'A+', 'A+'], 'subject': ['Maths', 'Physics', 'Chemistry']}
{'name': 'Khyathi', 'class': 'MBA', 'college': 'Hofstra', 'age': '21', 'gender': 'Female'}
{'name': 'honey', 'class': 'MBA', 'college': 'Hofstra', 'age': '20', 'marks': ['90,95,97'], 'grades': ['A+', 'A+', 'A+'], 'subject': ['Maths', 'Physics', 'Chemistry']}

In [44]:
#Dictionary methods
#1.get
x={"brand":"iphone",
   "series":"15 plus",
   "price":"80,000",
   "colour":"pink" 
  }
y=x.get("price")
print(y)
z=x.get("series")
print(z)
a=x.get("brand")
print(a)

80,000
15 plus
iphone

In [45]:
#2.key
y={'brand':'zara',
   'item':'baggy clothes',
   'price range':'1500-2000',
   'colour':'beige'}

x=y.keys()
print(x)

dict_keys(['brand', 'item', 'price range', 'colour'])

In [47]:
#3.values
z=mixed_dict.values( )
print(z)
z1=student.values( )
print(z1)

dict_values(['honey', 'MBA', 'Hofstra', '20', ['90,95,97'], ['A+', 'A+', 'A+'], ['Maths', 'Physics', 'Chemistry']])
dict_values(['Khyathi', 'MBA', 'Hofstra', '21', 'Female'])

In [48]:
#4.items
y={'brand':'zara',
   'item':'baggy clothes',
   'price range':'1500-2000',
   'colour':'beige'}

x={"brand":"iphone",
   "series":"15 plus",
   "price":"80,000",
   "colour":"pink" }

y1=y.items( )
print(y1)
x1=x.items( )
print(x1)

dict_items([('brand', 'zara'), ('item', 'baggy clothes'), ('price range', '1500-2000'), ('colour', 'beige')])
dict_items([('brand', 'iphone'), ('series', '15 plus'), ('price', '80,000'), ('colour', 'pink')])

In [49]:
#5 pop
mixed_dict={'name':'honey','age':'20','grade':'92,93,97'}
student={'name':'honey','class':'MBA','college':'Hofstra'}
grade=mixed_dict.pop('grade')
print(grade)
college=student.pop('college')
print(college)

92,93,97
Hofstra

In [50]:
#6 pop item
mixed_dict={'name':'honey','age':'20','grade':'92,93,97'}
last_item=mixed_dict.popitem( )
print(last_item)
student={'name':'honey','class':'MBA','college':'Hofstra'}
lastitem=student.popitem( )
print(lastitem)

('grade', '92,93,97')
('college', 'Hofstra')

In [53]:
#7 update
x={'bhavana':'business analytics',
'khyathi':'business analytics',
'keerthi':'human resources'}
new_data={'bhavana':'investment banking'}
          x1=x.update(new_data)
print(x1)

IndentationError: unexpected indent (873104783.py, line 6)